<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LlmVista</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="header">
        <img src="{{ url_for('static', filename='images/logo_small.jpg') }}" alt="LLMVista Logo" class="logo">
        <div class="subtitle">The Most Comprehensive (and Totally Real!) Search Engine on the Internet</div>
    </div>
    <div class="main-content">
        <div class="search-box">
            <form method="POST" action="{{ url_for('search') }}">
                <div class="search-container">
                    <input type="text" id="topic" name="topic" placeholder="Enter your search here">
                    <input type="submit" value="Submit">
                </div>
            </form>
        </div>
    </div>
        <div class="footer">
        Copyright © 2025 Reyes Research. All rights reserved.
    </div>
</body>
</html>